

/* Container for the entire dashboard */
.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f7fc;
}

/* Main content container that holds the sidebar and the main content */
.dashboard-content {
    display: flex;
    flex: 1;
}

/* Main content box */
.main-content {
    flex: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Heading styles */
h2 {
    color: #1a242f;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Active users list */
.users-list h3 {
    color: #00a99d;
    font-size: 18px;
    margin-bottom: 10px;
}

.users-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.users-list li {
    color: #1a242f;
    padding: 5px 0;
    font-size: 16px;
}

/* Chat box area */
.chat-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 85%;
}

.time{
    font-size: 13px;
    color: #ffffff93;
}

/* Messages container */
.messages {
    background-color: #f1f1f1;
    padding: 10px;
    flex-grow: 1;
    overflow-y: auto;
    border-radius: 8px;
    font-size: 18px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Individual message styling */
.messages p {
    margin: 10px 0;
    color: #fff;
    background-color: #00a99d;
    padding: 10px;
    border-radius: 20px;
    max-width: 60%;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    display: block;
    align-self: flex-start;
}

/* Align messages to the right if sent by the user */
.messages .own-message {
    background-color: #1a242f;
    align-self: flex-end;
}

/* Input container */
.chat-input-container {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
}

.chat-input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    color: #333;
    background-color: #fff;
}

.chat-input:focus {
    border-color: #00a99d;
    outline: none;
}

.send-button {
    padding: 10px 20px;
    background-color: #00a99d;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #1a242f;
}

.send-button:active {
    background-color: #005f55;
}

/* Scrollbar Styling */
.messages::-webkit-scrollbar {
    width: 8px;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #00a99d;
    border-radius: 10px;
}

.messages::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Responsiveness */
@media (max-width: 768px) {
    .main-content {
        padding: 10px;
    }
    .chat-input-container {
        flex-direction: column;
        gap: 5px;
    }
    .send-button {
        width: 100%;
    }
}
