.faq-container {
    background-color: #f9f9f9;
    margin-top: 7%;
  }
  
  .faq-title {
    text-align: center;
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
  }
  
  .faq-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .faq-item {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .faq-answer {
    padding-top: 10px;
    font-size: 16px;
    color: #666;
  }
  
  .toggle-icon {
    font-size: 20px;
    font-weight: bold;
    color: #00a99d;
  }
  
  .faq-question:hover {
    color: #00a99d;
  }
  