/* MonthDetails.css */

.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dashboard-content {
    display: flex;
    flex: 1;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
    align-items: flex-start;
}

.month-details {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 96%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.month-details .left {
    flex: 2; 
}

.month-details .right {
    flex: 1;
    text-align: right;
}

.month-details h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 15px;
}

.month-details p {
    font-size: 25px;
    color: #555;
    margin: 8px 0;
}

.month-details strong {
    color: #222;
}

.error {
    color: red;
    font-size: 18px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    font-size: 16px;
}

table th {
    background-color: #00a99d;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f4f4f4;
}

table td {
    background-color: white;
    border: 1px solid #e0e0e0;
    color: #333;
}

.budget-btn,
.create-expense-btn {
    background-color: #00a99d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.budget-btn:hover,
.create-expense-btn:hover {
    background-color: #1a242f;
}

@media (max-width: 768px) {
    .month-details {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .month-details .left,
    .month-details .right {
        flex: 1;
        text-align: center;
    }
}

.typescost{
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.circle-container {
    position: relative;
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.circle-foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #00a99d; 
    transform-origin: center center; 
  }
  
  .circle-background {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #e0e0e0; 
  }
  
  
  .circle-right {
    transform: rotate(90deg); 
  }
  
  .circle-text {
    position: absolute;
    color: #333;
    font-size: 20px; 
    font-weight: bold;
  }